<div class="mainDiv col-sm-12 row imgwrapper">
  <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="loginDiv">
      <h1>FORGET YOUR PASSWORD</h1>
      <div>
        <form class="loginForm" [formGroup]="form">
          <div class="form-group">
            <input class="form-control" type="emai" name="email" placeholder="Enter your Email Address" [formControl]="form.controls['email']"
              [(ngModel)]="user.email">
          </div>
          <div class="alert alert-danger text-center" role="alert" *ngIf="Msg" style="border-radius: 50px ">
            {{ Msg }}
          </div>
          <div class="row text-center">
            <div class="form-group col-lg-12">
              <button class="btn theme-btn" [disabled]="!form.valid" (click)="onSubmit()">
                  <div class="d-inline-block title">SUBMIT</div>
                  <span class="rounded-circle btn btn-primary pull-right"> 
                    <i class="fa fa-angle-right"></i> 
                  </span>
              </button>
            </div>
          </div>
          <div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
</div>