<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" style="opacity: 0.7" *ngIf="variableService.getNav()">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" routerLink="/">EnjoyACar<sup style="font-size: 10px">TM</sup></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item hidden-lg-up text-center" *ngIf="!variableService.getIsLogin()">
        <a class="nav-link" routerLink="/login">SIGN IN</a>
      </li>
      <li class="nav-item hidden-lg-up text-center" *ngIf="!variableService.getIsLogin()">
        <a class="nav-link" routerLink="/signup">REGISTER</a>
      </li>
      <li class="nav-item hidden-lg-up text-center" *ngIf="variableService.getIsLogin()">
        <a class="nav-link" routerLink="/logout">Logout</a>
      </li>

      <li class="nav-item hidden-lg-up text-center" *ngIf="variableService.getIsLogin()">
        <a class="nav-link" routerLink="/notification">Notifications  <span class="badge badge-danger">{{ this.variableService.notificationsCount }}</span></a>
      </li>

    </ul>
    <form class="form-inline mt-2 mt-md-0" *ngIf="!variableService.getIsLogin()">
      <button class="btn btn-outline-secondary my-2 my-sm-0 hidden-md-down" type="submit" routerLink="/login">SIGN IN</button>
      <button class="btn btn-primary my-2 my-sm-0 hidden-md-down" type="submit" routerLink="/signup">REGISTER</button>
    </form>

    <form class="form-inline mt-2 mt-md-0" *ngIf="variableService.getIsLogin()">
      <button class="btn btn-outline-danger my-2 my-sm-0 hidden-md-down" id="logout" type="submit" (click)="logout()">LOGOUT</button>
      <button class="btn btn-outline-primary my-2 my-sm-0  hidden-md-down" routerLink="/notification">NOTIFICATIONS <span class="badge badge-danger">{{ this.variableService.notificationsCount }}</span></button>

    </form>

  </div>
</nav>