form>button{
    font-size: 15px;
    border-radius: 20px;
    padding: 12px;
    width: 200px;
    margin: auto auto auto 5px;
}
.badge-notify{
   background:red;
   position:relative;
   top: -20px;
   left: -35px;
}
#logout{
    margin: auto;
}

.nav-item a{
    color: #fff;
    font-size: 18px;
}
a:hover{
    cursor: pointer;
}
.nav-link{
    display: block !important;
}
@media(max-width:992px){
    .form-inline button {
        width: 100%;
        margin-top: 10px !important;
        display: block;    
    }
}
