<!--<Connect Modal>-->
<modal #connectModal>
  <modal-header>
    <h4 class="modal-title">Please Enter the Following Details</h4>
  </modal-header>
  <modal-body class="modal-body">
    <div class="row col-sm-12 col-md-12 col-lg-12">
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
        <sup>*</sup><label>Name on card</label>
        <select class="form-control" [formControl]="form.controls['card']" [(ngModel)]="connectFormData.card">
             <option>Visa</option>
             <option>Master</option>
          </select>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
        <sup>*</sup>
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Email Address for Dealer info" [formControl]="form.controls['email']"
          [(ngModel)]="connectFormData.email">
        <div class="text-center error" *ngIf="emailError">Invalid Email</div>
      </div>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12">
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
        <sup>*</sup>
        <label>Card Number</label>
        <input class="form-control" type="text" placeholder="Card Number" [formControl]="form.controls['card_number']" [(ngModel)]="connectFormData.card_number">
        <div class="text-center error" *ngIf="cardNumError">Invalid card number</div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
        <sup>*</sup><label>Phone Number</label>
        <input type="number" class="form-control" placeholder="Phone Number for Dealer info" [formControl]="form.controls['phone']"
          [(ngModel)]="connectFormData.phone">
        <div class="text-center error" *ngIf="phoneError">Invalid Phone Number</div>
      </div>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12 row">
      <div class="form-group col-sm-12 col-md-6 col-lg-6 row">
        <div class="col-sm-6 row">
          <div class="col-sm-6 form-group">
            <sup>*</sup><label>MM</label>
            <select class="form-control" id="month" [formControl]="form.controls['month']" [(ngModel)]="expire.month">
             <option>1 </option>
             <option>2 </option>
             <option>3 </option>
             <option>4 </option>
             <option>5 </option>
             <option>6 </option>
             <option>7 </option>
             <option>8 </option>
             <option>9 </option>
             <option>10 </option>
             <option>11 </option>
             <option>12 </option>
           </select>
          </div>
          <div class="col-sm-6 form-group">
            <sup>*</sup><label>YY</label>
            <select class="form-control" id="years" [formControl]="form.controls['year']" [(ngModel)]="expire.year">
             <option *ngFor="let year of expireYears">{{year}} </option>
           </select>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6">
          <sup>*</sup><label>CVC Code</label>
          <input type="password" class="form-control" placeholder="Security Code" [formControl]="form.controls['pin_code']" [(ngModel)]="connectFormData.pin_code">
          <div class="text-center error" *ngIf="cvcError">Invalid CVC</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-6" id="nameInput">
        <sup>*</sup><label>Name</label>
        <input class="form-control" type="text" placeholder="Name Dealer will Contact" [formControl]="form.controls['name']" [(ngModel)]="connectFormData.name">
      </div>
    </div>
    <div class="row col-sm-12 col-md-12 col-lg-12">
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
        <sup>*</sup><label>ZIP/Postal Code</label>
        <input type="number" class="form-control" placeholder="ZIP/Postal Code for card" [formControl]="form.controls['postal_code']"
          [(ngModel)]="connectFormData.postal_code">
      </div>
      <div class="form-group col-sm-12 col-md-6 col-lg-6">
        <sup>*</sup><label>Zip Code</label>
        <input class="form-control" type="number" placeholder="Zip Code - Where you live" [formControl]="form.controls['zip_code']"
          [(ngModel)]="connectFormData.zip_code">
      </div>
    </div>
    <hr>
    <div class=" col-sm-12 col-md-12 col-lg-12">
      <p style="text-align: center;text-transform: capitalize">Will we send the salesperson at the dealership a notification. If they accept the connection you will br charged ${{
        connectPrice }}. None of your personal information will be given to the dealer except your ZIP Code ,so that they
        may verify the availibility of any discounts requested until they accept. By clicking connect you agree with our
        <a href="#">Terms and Service</a> and <a href="#">Privacy Policy</a>
      </p>
    </div>
  </modal-body>
  <modal-footer class="modal-footer  col-sm-12 col-md-12 col-lg-12">
    <button type="button" class="btn btn-outline-secondary btn-lg" (click)="connectModal.close()">Cancel</button>
    <button type="button" class="btn btn-outline-success btn-lg connectPayBtton" (click)="connectPayBtton()" [disabled]="!isCardNumValid()  || !isEmailValid() || !isPhoneNumValid() || !isCVCValid() || !connectFormData.card || !connectFormData.zip_code || !connectFormData.postal_code || !connectFormData.name">
           PAY
    </button>

  </modal-footer>
</modal>

<!--<Success On Connect Modal>-->

<modal #success>
  <modal-header class="successModal">
    <div class="modal-title successFullContected">Successfully Connected !</div>
  </modal-header>
  <modal-body class="modal-body">
    <div>
      Your Connect Has Been Sent To Dealer
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-outline-success btn-lg" (click)="success.close()">OK</button>
  </modal-footer>
</modal>


<!--<Success On Request Modal>-->


<modal #reqModal>
  <modal-header class="requestModal">
    <h4 class="modal-title">REQUEST FOR OFFERS</h4>
  </modal-header>
  <modal-body class="modal-body">
    <p class="modalContent">Thank for your interest. It seems like there aren't enough options for you.Dealers want to make sure there's interest
      for a car before posting them. We'll let dealers in your state know that you want them to post more. We wont give them
      your email but will update you for 72 hours as dealers post them
    </p> <br>
    <input class="reqEmail" type="email" placeholder="Enter Email Address" [formControl]="form.controls['reqEmail']" [(ngModel)]="requestModalForm.email ">
  </modal-body>
  <modal-footer>
    <div>
      <button type="button" class="btn btn-secondary btn-lg" (click)="reqModal.close()">Close</button>
      <button type="button" class="btn btn-primary btn-lg" [disabled]="!isEmailRequestValid()" (click)="reqOfferModal()">  Request More Offers</button>
      <div class="modalSlogan">This doesn't sign up for any newsletter. Read our <a routerLink="/policy">Privacy Policy</a></div>
    </div>
  </modal-footer>
</modal>
<!--</Req Modal>-->


<!--<Success On Connect Modal>-->

<modal #successRequest>
  <modal-header class="successModal">
    <div class="modal-title successFullContected">Successfully Request Offers !</div>
  </modal-header>
  <modal-body class="modal-body">
    <div>
      Your Request Offers Has Been Sent To Dealer
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-outline-success btn-lg" (click)="successRequest.close()">OK</button>
  </modal-footer>
</modal>


<!--<Success On Connect Modal>-->

<!--<Already Subscribe Email Modal>-->

<modal #alreadySubscribeModal>
  <modal-body class="modal-body">
    <div>
      This Email is Already Subcribe for more Offers
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-outline-secondary btn-lg" (click)="alreadySubscribeModal.close()">OK</button>
  </modal-footer>
</modal>


<!--<Already Subscribe Email Modal>-->


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active imgwrapper">
      <img class="first-slide img-responsive img-fluid" src="./../../assets/Car2.jpg" alt="First slide">
      <div class="container text-center">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
  </div>
</div>



<!-- find new car-->
<div class="div1">
  <h1 class="text-center heading" *ngIf="searchQuery.zip_code">
    {{ searchQuery.brand }} {{ searchQuery.model }} - {{ searchQuery.zip_code }}</h1>
  <h1 class="text-center heading" *ngIf="!searchQuery.zip_code">
    {{ searchQuery.brand }} {{ searchQuery.model }}</h1>
  <div class="offset-lg-1 col-lg-10 col-md-12 col-sm-12 col-xs-12 search-fields">


    <div class="row">

      <div class="form-group field">
        <input class="form-control" type="text" placeholder="Zip Code" [(ngModel)]="searchQuery.zip_code">
      </div>
      <ng2-completer class="form-group field" [(ngModel)]="searchQuery.brand" (selected)="selectedBrand()" [datasource]="brandsList"
        [minSearchLength]="0" placeholder="Enter Make (Ex.Ford)" *ngIf="isDataLoaded"></ng2-completer>
      <ng2-completer class="form-group field" [(ngModel)]="searchQuery.model" (selected)="selectedModel()" [datasource]="modelList"
        [minSearchLength]="0" placeholder="Enter Make (Ex.Mustang)" *ngIf="isDataLoaded"></ng2-completer>


      <div class="form-group field">
        <div>
          <select class="form-control" [(ngModel)]="searchQuery.year" *ngIf="modelYears">
           <option *ngFor="let years of modelYears">{{ years.year }}</option>
          </select>
          <select class="form-control" [(ngModel)]="searchQuery.year" *ngIf="!modelYears">
           <option></option>
           <option *ngIf="!modelYears" [hidden]="!modelYears">{{ searchQuery.year }}</option>
         </select>
        </div>
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Trim" [(ngModel)]="searchQuery.time">
      </div>
    </div>

    <div class="row" *ngIf="showMoreOptions" id="option">
      <div class="form-group field">
        <input class="form-control" type="text" placeholder="Exterior" [(ngModel)]="searchQuery.exterior">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Interior" [(ngModel)]="searchQuery.interior">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Transmission" [(ngModel)]="searchQuery.transmission">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Engine" [(ngModel)]="searchQuery.engine">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Body Style" [(ngModel)]="searchQuery.body_style">
      </div>
    </div>

    <div class="moreFeaturesDiv" *ngIf="features">
      <h4 class="col-sm-12 subHeading">Options & Packages</h4>
      <hr>
      <div class="col-sm-12">
        <h5 class="col-sm-12 row">Equipments Groups</h5>
        <ul class="row">
          <li class="col-sm-12 col-md-12 col-lg-4" *ngFor="let item of carEquipGourp">
            <div class="checkbox abc-checkbox-circle">
              <input type="checkbox" value="{{ item.name }}" [(ngModel)]="item.status">
              <label>
                    {{ item.name }}
                 </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12">
        <h5 class="col-sm-12 row">More Features</h5>

        <ul class="row">
          <li class="col-sm-12 col-md-12 col-lg-4" *ngFor="let items of carFeatures">
            <div class="checkbox abc-checkbox-circle">
              <input type="checkbox" value="{{ items.name }}" [(ngModel)]="items.status">
              <label>
                    {{ items.name }}
                 </label>
            </div>
          </li>
        </ul>


      </div>

      <div class="col-sm-12">
        <h5 class="col-sm-12 row">Discounts - searcher is responsible for qualifing.</h5>
        <ul class="row">
          <li class="col-sm-12 col-md-12 col-lg-4" *ngFor="let item of carDiscounts">
            <div class="checkbox abc-checkbox-circle">
              <input type="checkbox" value="{{ item.name }}" [(ngModel)]="item.status">
              <label>
                   {{ item.name }}
                </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row search-action-btn">
      <div class="col-sm-12 col-md-6 col-lg-4 text-md-center margin requestBtn">
        <button class="btn theme-btn" (click)="reqModal.open()">
         <div class="d-inline-block title">REQUEST MORE OFFERS</div>
          <span class="rounded-circle btn btn-primary pull-right"> 
            <i class="fa fa-angle-right"></i> 
          </span>
        </button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-md-center">
        <button class="btn theme-btn" (click)="carSearchUpdate()">
         <div class="d-inline-block title"> UPDATE</div>
          <span class="rounded-circle btn btn-primary pull-right"> 
            <i class="fa fa-angle-right"></i> 
          </span>
        </button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-md-center marginAuto">
        <p class="moreOptions" (click)="showAllOptions()">DISCOUNTS,FEATURES & OPTIONS</p>
      </div>
    </div>

  </div>

   <!--  Searched Car Result -->

  <div class="row hidden-lg-down pageTopDiv">

    <div class="col-lg-3 col-md-4 col-sm-2 offset-lg-1" *ngIf="serverCount === 0"><strong> Page 0 0f 0 </strong></div>
    <div class="col-lg-3 col-md-4 col-sm-2 offset-lg-1" *ngIf="serverCount >= 1"><strong> Page {{ currentPage }} 0f {{ totalServepage }} </strong></div>
    <div class="col-lg-5 col-md-6 col-sm-6" *ngIf="serverCount < 1"><strong>Showing 0 of 0 Offers </strong></div>
    <div class="col-lg-5 col-md-6 col-sm-6" *ngIf="serverCount >= 1"><strong>Showing {{ listOfCarSearch.length }} of {{ serverCount }} Offers </strong></div>
    <div class="col-lg-2 col-md-2 col-sm-4">
      <select class="form-control" *ngIf="serverCount === 0">
                <option selected="selected">Sort</option>
      </select>
      <select class="form-control" *ngIf="serverCount >= 1">
                <option selected="selected">Sort</option>
      </select>
    </div>

  </div>

  <div *ngIf="serverCount === 0" class="noRecord">No Record Found</div>

  <div class="datailsMainDiv col-sm-12 col-md-12 col-lg-10 row" *ngFor="let car of listOfCarSearch; let i = index">
    <div class="detailsDiv1 col-sm-12 col-md-12 col-lg-12 text-sm-center text-md-center text-lg-left" (click)="showDetails(i)">
      <div>
        <p class="estimateTime">{{ car.created_at | amTimeAgo}}</p>
        <strong>{{ car.year }} {{ car.brand }}</strong> <br> {{ car.time }} <br> <strong> Ext:</strong> {{ car.exterior }}
        &ensp; <strong> Int:</strong> {{ car.interior }}
        <br> {{ car.transmission }},{{ car.body_style }}
      </div>
      <br>
      <div class="details">
        <strong> Features:</strong><span *ngFor="let item of car.features"><span *ngIf="item.status"> {{ item.name }} | </span></span><br>
        <strong> Packages:</strong><span *ngFor="let item of car.equipments"><span *ngIf="item.status"> {{ item.name }} | </span></span><br>
        <strong> Discounts:</strong><span *ngFor="let item of car.discounts"><span *ngIf="item.status"> {{ item.name }} | </span></span>
      </div>
    </div>
    <div class="detailsDiv2 col-sm-12 col-md-12 col-lg-3" *ngIf="car.distance">
      <div class="carDistance">
        <div class="text-center carDistanceText"> {{ car.distance }} mi </div>
      </div>
    </div>
    <div class="text-center connectButtons">

      <div *ngIf="!car.isCollapse">
        <button class="btn btn-outline-danger cancelBtn" (click)="cancelConnect(i)">
                  Cancel
        </button>
        <button class="btn btn-outline-success" (click)="openPaypal(car._id,car.user)">
                  Connect- $
        </button>
      </div>
    </div>
  </div>

      <!--  pagination-->
  <div class="pagination" *ngIf="totalServepage > 1">
    <nav class="text-sm-center text-md-right text-lg-right" class="marginAuto">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="previousPage()" tabindex="-1" *ngIf="currentPage !== 1">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of totalPages"><a class="page-link" [ngClass]="{'PageActive': active(page.page)}" (click)="getPage(page.page)">{{ page.page }}</a></li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()" *ngIf="currentPage !== totalPages.length">Next</a>
        </li>
      </ul>
    </nav>
  </div>




</div>

<app-news-letter></app-news-letter>
<app-footer-links></app-footer-links>