
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
.button{
    margin: 10px auto -10px auto;
}
.imgwrapper {
   width: 100%;
}


/* find new car  */

.seacrchButton{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #414042;
    color: white;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin-left: 18px;
}

.form-group>input{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    padding: 10px;
}
.div1 select{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
}
.div1{
    background-color: rgb(236, 240, 241);
    padding: 20px;
    padding-bottom: 12%;
    margin-top: -70px;
}
.carLinks{
    /*background-color: aqua;*/
    margin-top: 30px;
    padding: 20px;
}
li{
    list-style: none;
    padding: 5px;
}

li>a{
    color: black;
    text-decoration: none;
}
.seacrhingOptionsDiv{
    background-color: white;
    padding: 10px;
    margin: auto auto 40px auto;
    border-radius: 12px
}
h5{
    font-size: 24px;
    
}
ul{
    padding: 20px;
}

.modal-title{
    text-align: center;

}
.modalContent{
    text-align: center;
    text-transform: capitalize
}
.modal-body>input{
    padding: 10px;
    margin: auto;
    width: 50%;
}
.modal-body{
    text-align: center;
}
.reqEmail{
    text-align: center;
    padding: 5px;
    width: 50%;
    padding: 5px;

}
.modalSlogan{
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.modalLink{
    color: #fff;
}
.modalLink:hover{
    color: #fff;
}
.row p:hover{
    cursor: pointer
}
#option{
    padding: 10px;

}
#option input{
    margin-bottom: 15px;
}
.moreOptions{
   text-decoration: none;
   color: #e81b23;
   margin: auto;
   padding: 20px;
   text-align:center
}
.marginAuto{
    margin: auto;
}
.noRecord{
    text-align: center;
    font-size: 25px;
    padding: 30px;
}
.carDistance{
    background-color: rgb(52, 152, 219);
    margin: auto;width: 60%;
    right: 0;
}
.carDistanceText{
    padding: 15px;
    color: white;
}

.links{
    text-decoration: none;
    color: #e81b23;
    font-size: 17px;
}
.div2 .imgwrapper{
    width: 60%;
}
.carsList{
    margin-right: 9%;
    margin-left: 9%;
}
@media (max-width : 992px){

    .carsList{
    margin-right: 0%;
    margin-left: 0%;
    }
    .div1{
         padding-bottom: 16%;
    }

}
.modal-body input{
    border-radius: 0px !important
}
.form-group{
    text-align: left !important
}
sup{
    font-size: 15px;
    color: red;
}

/*.details{
    text-align: left;
}*/
.successModal{
    background-color: rgb(46, 204, 113);
}
.requestModal{
   background-color: #3498db;
   color: white;
}
.connectPayBtton{
    width: 50%;
}
.successFullContected{
   font-size: 20px;
   color: white;
}
.div1{
    background-color: #f5f5f5
}
.heading{
    padding: 10px;
    margin-top: 10px;
    font-family: serif;
    color: rgb(41, 128, 185);
    font-weight: bold;
}
.subHeading{
    padding: 20px;
    color: dodgerblue;
    text-align: center
}
.detailsDiv1{
    padding: 10px;
}
.detailsDiv2{
    padding: 10px;
    /*margin: 10px;*/

}
.search-fields{
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.datailsMainDiv{
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
    /*box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/

    text-transform: capitalize;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

    .datailsMainDiv:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    /* pagination */
.pagination{
    padding: 15px;
    margin-right: 5%;
    float: right;
}
a:hover{
    cursor: pointer;
    color: #3498db;
}
a.PageActive{
    background-color: #3498db;
    color: white;   
}
.pageTopDiv{
    margin-top: 15px;
}
.marginAuto{
    margin: auto;
}

@media (min-width:768px){
    #nameInput{
        margin-left:30px;
    }
    #month{
      width: 65px;
    }
    #years{
    width: 81px;
    margin-left: -10px;
    }
   
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.error{
   color:#F74222;
}
select{
    text-align: center;
   text-align-last: center;
}

@media(min-width:992px){
    #offerBtn{
    width: 290px;
    }
    #updateBtn{
    width: 290px;
    }
     /*.detailsDiv2{
        position: absolute;
        bottom: 0;
        right: 0;
    }*/
}


.search-action-btn{
    margin-top: 10px;
}

@media(max-width:992px){
    .connectButtons{
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    .pagination{
    margin-right: -3%;
 
    }
    

}

@media (min-width:992px) and (max-width:1060px){
    .theme-btn{
        width: 200px !important;
    }
    .detailsDiv2{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 10px;
    }
}
@media (min-width: 992px) {
    .connectButtons{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
}


@media(max-width:768px){
   .div1{
         padding-bottom: 22%;
    }
}
@media(min-width:567px){
    .estimateTime{
        float: right;
        text-align: right;
    }
}
@media(max-width:567px){
   .div1{
         padding-bottom: 40%;
    }
}

@media(max-width:340px){
    .theme-btn .title{
        font-size: 12px !important;
    }

}



.cancelBtn{
    margin-right: 15px;
}

.estimateTime{
    color: #3498db;
    }
