.banner{
    background-image: url('./../../../assets/carbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 30em;
}
.headingDiv{
    color: #fff;
    margin-top: 200px;
}
.heading{
    font-size: 50px;
    font-weight: bold;
}
.date{
  font-size: 20px;
  font-weight: 400;
}
.privacyHeading{
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;

}
.bodyText{
    margin-bottom: 20px;
}
.bodyTextFont{
    font-size: 18px;
}

