<div class="mainDiv">
  <div class="notificationsDiv" *ngIf="totalNotifications === 0">
    <h1>No New Notifications </h1>
  </div>

  <div class="notificationsDiv" *ngIf="totalNotifications !== 0">
    <div class="row notificationHeaderDiv">
      <h1 class="col-sm-12 col-md-7 col-lg-5 offset-lg-1  notificationHeading">Your Notifications </h1>
      <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1"><button class="btn btn-outline-danger notificationRead" (click)="allRead()">Mark all as Read</button></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 row listOfNotifications" *ngFor="let num of notificationList ;let i = index">
      <div class="col-sm-12 col-md-12 col-lg-6 message">{{num.message}}</div>
      <div class="col-sm-12 col-md-12 col-lg-2 status" *ngIf="num.is_read"><button class="btn btn-success">Read</button></div>
      <div class="col-sm-12 col-md-12 col-lg-2 time">{{num.created_at | amTimeAgo }} </div>
      <div class="col-sm-12 col-md-12 col-lg-2 status" *ngIf="!num.is_read"><button class="btn btn-outline-danger">Unread</button></div>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="totalServepage > 1">
  <nav class="text-sm-center text-md-right text-lg-right" style="margin: auto">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="previousPage()" tabindex="-1" *ngIf="currentPage !== 1">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of totalPages"><a class="page-link" [ngClass]="{'PageActive': active(page.page)}" (click)="getPage(page.page)">{{ page.page }}</a></li>
      <li class="page-item">
        <a class="page-link" (click)="nextPage()" *ngIf="currentPage !== totalPages.length">Next</a>
      </li>
    </ul>
  </nav>
</div>

<app-news-letter></app-news-letter>
<app-footer-links></app-footer-links>