.mainDiv{
    min-height: 480px;
    margin-top: 10%;
}

.notificationsDiv{
    margin-top: 80px;
}
.notificationsDiv>h1{
    text-align: center;
}
.listOfNotifications{
    margin: 20px auto 15px auto;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    background-color: #ecf0f1;
    box-shadow: 3px 3px 5px #888888;
}
.message{
    padding: 5px;
}
.status{
    padding: 5px;
}
.time{
    padding: 5px;
}
a.PageActive{
    background-color: #3498db;
    color: white;   
}
.page-link,.page-link:focus, .page-link:hover {
    color: black;
}
.notificationHeaderDiv{
        width: 100vw;
    }
@media(min-width:992px){
    .notificationRead{
        float: right ;
    }
}
@media(max-width:576px){

.notificationHeading{
    text-align: center;
}
}
@media(max-width:768px){
    .notificationHeaderDiv{
        margin: auto;
        text-align: center;
    }
    .notificationHeading{
         text-align: center;
           font-size: 22px
    }
}
@media(min-width:768px) and (max-width:992px){
      .notificationHeaderDiv{
        margin: auto;
        text-align: center;
    }
}
/*@media(max-width:576px){
    .notificationHeading{
          margin-left: 50%;
       
    }
}*/