.seacrchButton{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #414042;
    color: white;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin-left: 18px;
}
button:hover{
    cursor: pointer
}
.form-group>input{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    padding: 10px;
}
ng2-completer>input{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    padding: 10px;
}

select{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    text-indent: 10px;
    text-align: center;
    padding-left: 27%
}
.div1{
    background-color: rgb(236, 240, 241);
    padding: 20px;
    margin-top: -70px;
}
.carLinks{
    /*background-color: aqua;*/
    margin-top: 30px;
    padding: 20px;
}
li{
    list-style: none;
    padding: 5px;
}

li>a{
    color: black;
    text-decoration: none;
}
.seacrhingOptionsDiv{
    margin: auto auto 40px auto;
}
h5{
    font-size: 24px;
    
}
ul{
    padding: 20px;
}
sub{
    font-weight: bold;
}
.carousel-inner>.imgwrapper {
   /*width: 1000%;*/
   background-image: url('./../../../assets/Mercedes-Benz.jpg');
    /*background-position: */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 44em;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.caption{
    margin: auto auto auto auto;
    background-color: rgb(52, 152, 219);
    padding: 10px;
    font-family: serif;
    font-weight: bold;
    width: 450px;
    /*font-size: 30px;*/
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
.caption2{
    /*margin: 20px auto 110px auto;*/
    font-weight: bold;
    font-family: serif;
    padding: 10px
}
.button{
    margin: 10px auto -10px auto;
}
.modal-title{
    text-align: center;

}
.modalContent{
    text-align: center;
    text-transform: capitalize
}
.modal-body>input{
    padding: 10px;
    margin: auto;
    width: 50%;
}
.modal-body{
    text-align: center;
}
.reqEmail{
    text-align: center;
    padding: 5px;
    width: 50%;
    padding: 5px;

}
.modalSlogan{
    display: block;
    font-size: 12px;
    margin-top: 5px;
}
.row p:hover{
    cursor: pointer
}

.moreOptionsLinks{
    margin-top: 10px;
}

.links{
    text-decoration: none;
    color: #e81b23;
    font-size: 17px;
}
.brandCar{
    width: 100%;
}

.heading{
    padding: 10px;
    margin-top: 10px;
    font-family: serif;
    color: rgb(41, 128, 185);
    font-weight: bold;
}
.subHeading{
    padding: 20px;
    color: dodgerblue;
    text-align: center;
}

.carDiv{
    position: absolute;
    z-index: 10;
    bottom: 0;
    left:0;
}
.brandDiv{
    background-color: #27aae1;
    height: 600px;
}
.chooseABrandDiv{
    background-color: #edf0f5;
    padding: 40px;
}
.searchbuttons{
    margin-top: 10px;
    padding: 5px;
}
.carDiv imgwrapper{
    width: 60%
}
.pageDownArrow{
    opacity: 0.7;
    height: 50px;
    width: 50px;
    margin-bottom: -20px
}
.arrowFontSize{
    font-size: 30px
}
.userInputDiv{
    margin: 40px auto auto auto;
}
@media(min-width:992px){
    #SearchBtn{
            width: 235px;
    }
    .brandCar{
        width: 70%;
    }
}
 #searchText{
     display: inherit;
    padding-top: 10px;
    }
a:hover{
    cursor: pointer;
}
.theme-btn{
    float: right;
}
@media (min-width:992px) and (max-width:1140px){
    .theme-btn{
        width: 220px !important;
    }
}
@media (min-width:768px){
    .theme-btn{
        margin-right: 4%;
    }
}
@media(min-width:1200px){
    .brandCar{
        width: 86%;
    }

}
@media(min-width:1400px){
    .brandCar{
        width: 100%;
    }

}
@media(min-width:1600px){
    .brandCar{
        width: 1030px;
    }

}
.search-fields{
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

