<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active imgwrapper">
      <div class="container text-center">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="caption">FIND THE BEST</h1>
          <h2 class="caption2">OUT-THE-DOOR PRICING ON NEW CARS</h2>
          <p class="rounded-circle btn btn-default padding">
            <a href="#down" role="button">
              <span class="pageDownArrow">
                <i class="fa fa-chevron-down arrowFontSize"></i>     
            </span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div1">
  <h1 class="text-center heading" *ngIf="searchbuttons">FIND YOUR NEXT NEW CAR</h1>
  <h1 class="text-center heading" *ngIf="!searchbuttons">{{ carNameAndModel }}</h1>
  <div class="col-lg-10 col-md-12 seacrhingOptionsDiv col-sm-12 col-xs-12  search-fields">

    <div class="row userInputDiv">

      <div class="form-group field">
        <input class="form-control" type="text" placeholder="Zip Code" [(ngModel)]="car.zip_code">
      </div>
      <ng2-completer class="form-group field" [(ngModel)]="car.brand" (selected)="selectedBrand()" [datasource]="brandsList" [minSearchLength]="0"
        placeholder="Enter Make (Ex.Ford)"></ng2-completer>
      <ng2-completer class="form-group field" [(ngModel)]="car.model" (selected)="selectedModel()" [datasource]="modelList" [minSearchLength]="0"
        placeholder="Enter Make (Ex.Mustang)"></ng2-completer>


      <div class="form-group field">
        <div>
          <select class="form-control" [(ngModel)]="car.year">
           <option *ngFor="let years of modelYears">{{ years.year }}</option>
         </select>
        </div>
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Trim" [(ngModel)]="car.time">
      </div>
    </div>
    <div class="row" *ngIf="showMoreOptions" id="option">
      <div class="form-group field">
        <input class="form-control" type="text" placeholder="Exterior" [(ngModel)]="car.exterior">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Interior" [(ngModel)]="car.interior">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Transmission" [(ngModel)]="car.transmission">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Engine" [(ngModel)]="car.engine">
      </div>
      <div class="form-group field">
        <input type="text" class="form-control" placeholder="Body Style" [(ngModel)]="car.body_style">
      </div>
    </div>

    <div class="moreFeaturesDiv" *ngIf="features">
      <h4 class="col-sm-12 subHeading">Options & Packages</h4>
      <hr>
      <div class="row col-sm-12">
        <h5 class="col-sm-12">Equipments Groups</h5>
        <ul class="row">
          <li class="col-sm-12 col-md-12 col-lg-4" *ngFor="let item of equipGourp">
            <div class="checkbox abc-checkbox-circle">
              <input type="checkbox" value="{{ item.name }}" [(ngModel)]="item.status">
              <label>
                    {{ item.name }}
                 </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="row col-sm-12">
        <h5 class="col-sm-12">More Features</h5>
        <ul class="row">
          <li class="col-sm-12 col-md-12 col-lg-4" *ngFor="let item of Features">
            <div class="checkbox abc-checkbox-circle">
              <input type="checkbox" value="{{ item.name }}" name="{{item.name}}" [(ngModel)]="item.status">
              <label>
                    {{ item.name }}
                 </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row searchbuttons" *ngIf="searchbuttons">
      <div class="col-sm-12 col-md-12 col-lg-4 hidden-md-down hidden-sm-down"></div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-center moreOptionsLinks">
        <p class="text-sm-center text-lg-right links" *ngIf="addFeature" (click)="moreOptions()">MORE OPTIONS</p>
        <p class="text-sm-center text-lg-right links" *ngIf="addFeature2" (click)="moreFeatures()">ADD FEATURES AND OPTIONS</p>
        <p class="text-sm-center text-lg-right links" *ngIf="features" (click)="hideFeatures()">HIDE FEATURES</p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">

        <button class="btn theme-btn" type="submit" (click)="searchCar()">
            <div class="d-inline-block title">SEARCH VEHICLE</div>
            <span class="rounded-circle btn btn-primary pull-right"> 
              <i class="fa fa-angle-right"></i> 
            </span>
        </button>

      </div>
    </div>
  </div>

</div>
<div class="chooseCarDiv col-sm-12 col-md-12 col-lg-12" *ngIf="hideBrands">
  <div class="row">
    <div class="col-lg-3 hidden-md-down brandDiv">
    </div>
    <div class="hidden-md-down carDiv">
      <img src="./../../assets/Car.png" class="img-responsive img-fluid brandCar">
    </div>
    <div class="col-sm-12 col-md-12 col-lg-9 chooseABrandDiv">
      <h2 class="offset-md-3">PRICE A NEW CAR. CHOOSE A BRAND.</h2>
      <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-5 carLinks">
        <div class="row">
          <ul class="row">
            <li class="col-xs-4 col-sm-4 col-md-6 col-lg-4 text-center" *ngFor="let brand of brands"><a (click)="getBrand(brand.name)">{{ brand.name}} </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<app-news-letter id="down"></app-news-letter>
<app-footer-links></app-footer-links>