<div class="mainDiv col-sm-12 row imgwrapper">
  <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="loginDiv">
      <h1>LOGIN</h1>
      <div>
        <form class="loginForm" [formGroup]="form">
          <div class="form-group">
            <input class="form-control" type="email" [formControl]="form.controls['email']" placeholder="Email Address" [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" [formControl]="form.controls['password']" placeholder="Password" name="password"
              [(ngModel)]="user.password">
          </div>
          <div class="alert alert-danger text-center" role="alert" *ngIf="Msg" style="border-radius: 50px ">
            {{ Msg }}
          </div>
          <div>
            <p style="text-align: right;padding: 10px;"> <a href="#" style="color: silver" routerLink="/forgetpassword">Reset your password</a></p>
          </div>
          <div class="row text-center auth-buttons">
            <div class="form-group col-lg-6">

              <button class="btn theme-btn" (click)="login()">
                  <div class="d-inline-block title">LOGIN</div>
                    <span class="rounded-circle btn btn-primary pull-right"> 
                      <i class="fa fa-angle-right"></i> 
                    </span>
              </button>

            </div>
            <div class="form-group col-lg-6">

              <button class="btn theme-btn" routerLink="/signup">
                  <div class="d-inline-block title">SIGN UP</div>
                    <span class="rounded-circle btn btn-primary pull-right"> 
                      <i class="fa fa-angle-right"></i> 
                    </span>
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
</div>