.newsLetter{
    background-color: #27aae1;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    width: 100%;
    margin: 0px;
}
.left-mrgin{
    margin-left: 5px;
    margin-right: 5px;
}
.newLetterInput{
    border-radius: 0px;
}
.newsLetterHeading{
    display: inline;
    font-size: 22px;
}
.envelope-icon{
    display: inline;
    font-size: 24px;
    margin-right: 20px;
}
.dumy-text{
    font-size: 12px;
}
.form-newsLetter{
    text-align: center;
    margin-top: 5px;
    
}
.subcribe-btn{
    border-radius: 0;
    background-color: #00466f;
}
#formSection{
    margin: auto;
}

@media (min-width: 1200px) {
   .name{
   
    margin-right: -25%;
    
    }
    .email{
        margin-right: -25%;
   
   
      
    }
}
::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}
