<!--<Already Subscribe Email Modal>-->

<modal #alreadySubscribeModal>
  <modal-body class="modal-body">
    <div>
      This Email is Already Subcribe for Our NewsLetter
    </div>
  </modal-body>
  <modal-footer>
    <button class="btn btn-outline-secondary btn-lg" (click)="alreadySubscribeModal.close()">OK</button>
  </modal-footer>
</modal>


<!--<Already Subscribe Email Modal>-->


<!--<Success On Submit Modal>-->

<modal #success>
 <modal-header style="background-color: #3498db">
   <div class="modal-title" style="font-size: 20px;color: white">Successfully Subscribe !</div>
 </modal-header>
 <modal-body class="modal-body">
   <div>
     Your Have Successfully Subscribe to EnjoyACar NewsLetter
   </div>
 </modal-body>
 <modal-footer>
     <button class="btn btn-outline-primary" (click)="success.close()">OK</button>
 </modal-footer>
</modal>

<!--<Success On Submit Modal>-->


<div class="row newsLetter">
    <div class="col-lg-4 col-sm-12 col-md-12 text-center offset-lg-1">
        <span class="fa fa-envelope envelope-icon" aria-hidden="true"></span>
        <h3 class="newsLetterHeading"> GET OUR NEWSLETTER</h3>
        <div class="dumy-text">Lorem Ipsum is simply dummy text </div>
    </div>

    <div class="col-lg-6 col-sm-9 offset-sm-3 offset-lg-1" id="formSection">
        <form class="form-horizontal" role="form">
            <div class="row">
                <div class="col-sm-12 col-lg-4 ">
                    <div class="form-group name">
                        <div class="col-md-12">
                            <input type="email" class="form-control newLetterInput" placeholder="Name"  [formControl]="form.controls['name']" [(ngModel)]="user.name">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 ">
                    <div class="form-group email">
                        <div class="col-md-12">
                            <input type="email" class="form-control newLetterInput"  [formControl]="form.controls['email']" placeholder="Your email address" [(ngModel)]="user.email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 ">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="button" class="form-control btn btn-primary subcribe-btn" value="Subscribe" [disabled]="!isEmailValid()"
                            (click)="onsubmit()">
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row this actually does not appear to be needed with the form-horizontal -->
        </form>
    </div>
</div>