.mainDiv{
     background-image: url('./../../../assets/bg.jpg');
     min-width : 100%;
     background-size: cover;
     background-repeat:no-repeat;
     overflow-y: hidden;
     overflow-x: hidden;
     margin: auto;
}
.signupDiv{
    margin: 39% 0px;
}
.signupDiv>h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: serif;
    font-weight: bold;

}
.form-group>input,select{
    min-width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
}
.button{
 border-radius: 50px;
 font-weight: bold;
 width: 100%;
 font-size: 25px;
 background-color: #666666;
 margin-top: 10px;
 color: white;
}
.button>span{
    float: right;
    background-color: silver;

}
select{
    text-align: center;
    text-align-last: center;
    height: inherit;
}
.theme-btn{
    width: 100% !important;
}


/* theme fields */

.search-fields{
    background-color: white;
    padding: 15px 10px;
    border-radius: 12px;
    border-radius: 2px;
    border: thin solid lightgray;
}
.search-fields .field{
    width: 16%;
    margin: 0 2%;
}