<div class="mainDiv col-sm-12 row imgwrapper">
  <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="signupDiv">
      <h1>SIGN UP</h1>
      <div>
        <form class="loginForm" [formGroup]="form">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="First Name" (keypress)="isNameValid()" name="firstname" [formControl]="form.controls['firstname']"
              [(ngModel)]="user.firstname">
          </div>
          <div class="form-group">
            <div class="text-center" style="color:#F74222;" *ngIf="FirstNameError">First Name should only contain text</div>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Last Name" name="lastname" (keypress)="isLastNameValid()" [formControl]="form.controls['lastname']"
              [(ngModel)]="user.lastname">
          </div>
          <div class="form-group">
            <div class="text-center" style="color:#F74222;" *ngIf="LastNameError">Last Name should only contain text</div>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" placeholder="Email Address" name="email" [formControl]="form.controls['email']"
              [(ngModel)]="user.email">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Age" name="age" (keypress)="isAgeValid()" [formControl]="form.controls['age']"
              [(ngModel)]="user.age">
          </div>
          <div class="form-group">
            <div class="text-center" style="color:#F74222;" *ngIf="AgeError">Age should only contain number</div>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Zip Code" (keypress)="isZipCodeValid()" name="zip_code" [formControl]="form.controls['zip_code']"
              [(ngModel)]="user.zip_code">
          </div>
          <div class="form-group">
            <div class="text-center" style="color:#F74222;" *ngIf="zipError">Zip Code Must be Number</div>
          </div>
          <div class="form-group">
            <select class="form-control" [formControl]="form.controls['gender']" [(ngModel)]="user.gender">
              <option selected="selected">Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" [formControl]="form.controls['password']"
              [(ngModel)]="user.password">
          </div>
          <div class="alert alert-danger text-center" role="alert" *ngIf="Msg" style="border-radius: 50px ">
            {{ Msg }}
          </div>
          <div class="row text-center">
            <div class="form-group col-lg-12">

              <button class="btn theme-btn" [disabled]="!form.valid || !isEmailValid()" (click)="onSubmit()">
                  <div class="d-inline-block title">SIGN UP</div>
                    <span class="rounded-circle btn btn-primary pull-right"> 
                      <i class="fa fa-angle-right"></i> 
                    </span>
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
</div>