.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: fixed;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* You can add global styles to this file, and also import other style files */
.modal-dialog{
    max-width: 900px!important;
}
button:hover{
    cursor: pointer
}

.modal-backdrop{
    opacity: 0.5 !important;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.modal-backdrop.fade{
    opacity: 0.5 !important;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

ng2-completer .completer-input{
   border-radius: 50px !important;
   text-align: center;
   height: 43px;
   width: 100%;
   outline: none;
}
div.completer-dropdown-holder{
  max-width: 200px;
  max-height: 100px;
}
.completer-input{
   width: 100%;
   height: 50px;
   border: 1px solid rgba(0, 0, 0, 0.15);
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
   padding: 0.5rem 0.75rem;
}

/* Theme button*/
.theme-btn{
    color: white;
    font-weight: bold;
    text-align: center;
    height: 50px;
    padding-right: 10px !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    background-color: #414042;
    width: 280px;
    margin-top: 10px;
}
.theme-btn .title{
    margin: 6px 5px;
    font-size: 15px;
}
.theme-btn span{
    height: 42px;
    width: 42px;
    background-color: #27aae1;
    margin: 0px;
    margin-top: -5px;
    margin-right: -5px
}
.theme-btn i{
    font-size: 35px;
    margin-top: -7px;
    margin-left: 2px;
}
@media (max-width: 768px){
    .theme-btn{
        width: 100% !important;
    }

}
/* Theme fields*/


.search-fields{
    background-color: white;
    padding: 15px 10px;
    border-radius: 12px;
    border-radius: 2px;
    border: thin solid lightgray;
}
.search-fields .field{
    width: 16%;
    margin: 0 2%;
}
@media (max-width: 768px){
    .search-fields .field{
        width: 100%;
        margin: 1% 2%;
    }
}


.btn{
   white-space: normal !important;
}
select{
    text-align: center;
    text-align-last: center;
}
