.footer{
    /*background-color: #666666;*/
    background-image: url('../../../assets/footer.jpg');
     background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff;
    width: 100%;
    margin: 0px;
}
ul{
    margin-top: 20px;
}

li{
    list-style: none;
    line-height: 30px;
    font-size: 12px;
}
.car-col{
    padding-left: 50px;
}
.footerHeading{
    font-size: 20px;
}
.copyright{
    color: #fff;
    padding: 30px;
    width: 100%;
    margin: 0px;
    background-color: #252525;
    font-size: 12px;
}
.social{
    padding-right:15px;
}
.footerLink{
    text-decoration: none;
    color: #fff;
}

/*.footLinkSec{
    text-align: left;
    }

@media (max-width: 992px) {
   .footLinkSec{
    text-align: center;
    }
   
    
}*/
a:hover{
    text-decoration: none;
}
a{
    color: white;
}