<div class="row footer">
    <div class="col-sm-12 col-md-6 col-lg-2 offset-lg-2  text-center">
        <h4 class="footerHeading">About Enjoy A Car</h4>
        <ul>
            <li><a href="#" class="footerLink">FAQ</a></li>
            <li><a href="#" class="footerLink">Our Story</a></li>
            <li><a href="#" class="footerLink">How it Works</a></li>
            <li><a href="#" class="footerLink">Why it Works</a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 text-center ">
        <h4 class="footerHeading">Enjoy A Car Deallers</h4>
        <ul>
            <li><a  routerLink="/signup">Request To Join</a></li>
            <li><a href="#" class="footerLink">Dealer Portal</a></li>
            <li><a href="#" class="footerLink">FAQ</a></li>
        </ul>
    </div>

    <div class="clearfix hidden-sm-up"></div>

    <div class="col-sm-12 col-md-6 col-lg-2 text-center ">
        <h4 class="footerHeading">Media & Press</h4>
        <ul>
            <li><a href="#" class="footerLink">In The News</a></li>
            <li><a href="#" class="footerLink">EnjoyACar Blog</a></li>
            <li><a href="#" class="footerLink">Press KIT</a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 text-center ">
        <h4 class="footerHeading">We Care</h4>
        <ul>
            <li><a href="#" class="footerLink">Your Anonymity</a></li>
            <li><a href="#" class="footerLink">Contect Us</a></li>
            <li><a href="#" class="footerLink">FeedBack</a></li>
            <a hre="#">
                <li>
                    <a hre="#"><i class="fa fa-facebook social" aria-hidden="true"></i></a>
                    <a hre="#"><i class="fa fa-twitter social" aria-hidden="true"></i></a>
                </li>
            </a>
        </ul>
    </div>
</div>


<div class="row copyright ">
    <div class="col-md-4 offset-lg-1 text-center">Copyright &copy; EnjoyACar Inc, All rights reserved 2017.</div>
    <div class="col-md-4 offset-md-2 text-center">Terms of Service | <a routerLink="/policy">Privacy and Policy</a></div>
</div>