.mainDiv{
    background-image: url('./../../../assets/bg.jpg');
    min-width : 100%;
    background-size: cover;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: auto;
    padding-bottom: 210px;
}
.loginDiv{
   margin: 50% 0px;
   
}
.loginDiv>h1{
   text-align: center;
   color: white;
   font-size: 30px;
   margin-bottom: 20px;
   font-family: serif;
   font-weight: bold;

}
.form-group>input{
   min-width: 100px;
   text-align: center;
   padding: 10px;
   border-radius: 50px;
}
.button{
border-radius: 50px;
font-weight: bold;
width: 100%;
font-size: 25px;
background-color: #666666 ;
margin-top: 10px;
color: white;
}
.button>span{
   float: right;
   background-color: silver;

}