<div class="mainDiv col-sm-12 row imgwrapper">
 <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
 <div class="col-sm-12 col-md-12 col-lg-4">
   <div class="loginDiv">
     <h1>RESET YOUR  PASSWORD</h1>
     <div>
       <form>
         <div class="form-group">
           <input class="form-control" type="password" name="email" placeholder="Enter your password" [(ngModel)]="newPasswordObj.pass1">
         </div>
         <div class="form-group">
           <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm password" [(ngModel)]="newPasswordObj.pass2">
         </div>
         <div class="row text-center">
           <div class="form-group col-lg-12">
             <button class="form-control" class="btn btn-secondary button" type="submit" (click)="onChange()">
             SUBMIT<span class="rounded-circle btn btn-secondary"> <i class="fa fa-chevron-right"></i> </span></button>
           </div>
         </div>
           <div class="alert alert-danger" role="alert" *ngIf="Msg" style="border-radius: 50px ">
             {{ Msg }}
           </div>
           <div>
           </div>
       </form>
       </div>
     </div>
   </div>
   <div class="col-lg-4 hidden-md-down hidden-sm-down"></div>
 </div>